<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            Isabella Turnbull
        </title>
<link rel="stylesheet" href="/client_media/css/original.css" type="text/css" media="screen" title="no title" charset="utf-8" />
<link rel="stylesheet" href="/client_media/css/pagination.css" type="text/css" media="screen" title="no title" charset="utf-8" />
        <link rel="alternate" type="application/rss+xml" title="Isabella Turnbull RSS Feed" href="http://isabellaturnbull.com/feed/" />
        <!--[if lte IE 7]>
            <link rel="stylesheet" href="/client_media/css/ie.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <![endif]-->
        <meta name='robots' content='noindex,nofollow' />
    </head>
    <body>
        <div id="header">
            <div id="blog_title">
                <div id="cap">
                    <span class="feeds"><a href="http://isabellaturnbull.com/feed/atom/">feed</a></span>
                </div>
                <h1>
                    <a href="/">Isabella Turnbull</a>
                </h1>
                <p class="description">
                    You’re never too young to have your own website.
                </p>
                <!-- <div id="search">
                    <form method="get" id="searchform" action="http://isabellaturnbull.com/">
                        <div>
                            <span class="search">Search:</span><input type="text" value="" size="15" name="s" id="s" /> <input type="submit" id="searchsubmit" value="Go" />
                        </div>
                    </form>
                </div> -->
            </div><!-- <div id="topnav">
        <ul>
            <li class="home current"><a href="http://isabellaturnbull.com">Home</a></li>
            <li class="page_item page-item-2"><a href="http://isabellaturnbull.com/about/" title="About">About</a></li>
        </ul>
        </div> -->
        </div>
        <div id="wrapper">
            <div id="home_content">
                
                {% block content %}
                    
                {% endblock %}
                
               
            </div>
            <div style="clear:both">
                <!-- -->
            </div>
        </div><!-- end wrapper -->
        <!-- <div id="secondary_nav">
                    <div id="secondary_nav_content">
                        <ul>
                            <li class="footerlist">
                                <h2>
                                    Categories
                                </h2>
                                <ul>
                                    <li class="cat-item cat-item-6">
                                        <a href="http://isabellaturnbull.com/category/gifts/" title="View all posts filed under Gifts">Gifts</a>
                                    </li>
                                    <li class="cat-item cat-item-1">
                                        <a href="http://isabellaturnbull.com/category/me/" title="View all posts filed under Me">Me</a>
                                    </li>
                                    <li class="cat-item cat-item-5">
                                        <a href="http://isabellaturnbull.com/category/trips/" title="View all posts filed under Trips">Trips</a>
                                    </li>
                                    <li class="cat-item cat-item-3">
                                        <a href="http://isabellaturnbull.com/category/visitors/" title="View all posts filed under Visitors">Visitors</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="taglist">
                                <h2>
                                    Tags
                                </h2>
                                <div class="wp-tag-cloud"></div>
                            </li>
                            <li class="footerlist">
                                <h2>
                                    Archives
                                </h2>
                                <ul>
                                    <li>
                                        <a href='http://isabellaturnbull.com/2009/01/' title='January 2009'>January 2009</a>
                                    </li>
                                    <li>
                                        <a href='http://isabellaturnbull.com/2008/12/' title='December 2008'>December 2008</a>
                                    </li>
                                    <li>
                                        <a href='http://isabellaturnbull.com/2008/11/' title='November 2008'>November 2008</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div> -->
    </body>
</html>
